<nav>
  <div class="nav-wrapper blue">
    <div class="container">
      <a routerLink="/" class="brand-logo">MEAN CRUD</a>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/employees" routerLinkActive="active">Employee</a></li>
      <li><a routerLink="/externals" routerLinkActive="active">Gastos externos</a></li>
      <li><a routerLink="/invoices" routerLinkActive="active">Facturas pendientes</a></li>
      <li><a routerLink="/books" routerLinkActive="active">Libros</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- Routed components go heree -->

















<!-- <app-employees></app-employees>

<nav class="nav-wrapper purple">
  <div class="container">
    <a href="/" class="brand-logo">Test Crud</a>
  </div>
</nav>

<app-users></app-users>  -->