<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-action teal lighten-1 white-text">
          <h5 class="center">Facturas pendientes</h5>
        </div>
        <div class="card-content">						
          <form #invoiceForm='ngForm' (ngSubmit)="addInvoice
          (invoiceForm)">
          <input type="hidden" name="_id" #_id="ngModel" 
          [(ngModel)]="invoiceService.selectedInvoice._id">
            <div class="row">
              <div class="input-field col s12">
                <input name="title" type="text" #name="ngModel" 
                [(ngModel)]="invoiceService.selectedInvoice.title" 
                placeholder="Ingrese titulo" autocomplete="off" >
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input name="description" type="text" #name="ngModel" 
                [(ngModel)]="invoiceService.selectedInvoice.description" 
                placeholder="Ingrese descripción" autocomplete="off" >
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input name="date" type="date" #name="ngModel" id="date"
                [(ngModel)]="invoiceService.selectedInvoice.date" 
                placeholder="Enter the date" autocomplete="off" >
              </div>
            </div>
            <div class="row">
              <div class="input-field col-s12">
                <button class="btn">Guardar</button>
                <button class="btn right light-green darken-1" style="margin-left: 2px; background-color: #7cb342;"
                  (click)="resetForm(invoiceForm)">Limpiar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="highlight" style="margin: 30px 0px 0px 30px">
        <thead>
          <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Operaciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let invoice of invoiceService.invoices">
          <td>{{ invoice.title }}</td>
          <td>{{ invoice.description }}</td>
          <td>{{ invoice.date }}</td>
          <td>
              <a (click)="editInvoice(invoice)">
                  <i style="cursor: pointer; padding: 5px;" class="material-icons">edit</i>
                </a>
                <a (click)="deleteInvoice(invoice._id, invoiceForm)">
                  <i style="cursor: pointer; padding: 5px; color: #b71c1c" class="material-icons">delete</i>
                </a>
          </td>
          </tr>
        </tbody>
        </table>
        <br><br>
        <a style= "margin-left: 25px; background-color: #00bd56;" class="btn tooltipped" data-position="bottom" 
        data-tooltip="Button does't work yet ==> :(">Generar reporte</a>
        <!--<input style="margin-left: 25px; background-color: #00bd56;" type="submit" value="Generar reporte" class="btn btn">-->
        
    </div>
  </div>
  </div>


  
